.typography{
  font-family: var(--font-family-avenir-0), var(--font-family-avenir-1), var(--font-family-avenir-2);
}

.typography--HEADER1{
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--color-neutral-800);
}

.typography--HEADER2{
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--color-neutral-800);
}

.typography--HEADER3{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-neutral-800);
}

.tipography--SUBTITLE{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-neutral-600);
}

.typography--BODY,
.typography--BUTTON{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--color-neutral-800);
}

.typography--SMALL{
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--color-neutral-600);
}

.typography--TABLE_LABEL {
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: var(--color-neutral-800);
}

.typography--BODY.typography--highlight,
.typography--SMALL.typography--highlight,
.typography--BUTTON.typography--highlight{
  font-weight: 600;
}

.typography--ellipsis{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------- STORIES STYLES -------- */
.container_typographys{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
  gap: 1rem;
}